<h2 class="bienvenida fw-bold">¡Bienvenido/a! 👋</h2>

<!--LUGARES DESTACADOS-->
<section class="main">



  <div class="main-top justify-content-center">
      <h4 class="destacados fw-bold text-center">Lugares más destacados</h4>
  </div>


  <!-- ACA DEBEN DE IR LAS FOTOS-->
    <div class="container">
      <div class="row justify-content-center">
        <div class="card mt-4" style="width: 14rem;">
          <img src="./assets/imagenes/MuseoAntioquia.jpg" class="card-img-top " alt="...">
          <div class="card-body">
            <h6 class="card-title text-center">Museo de Antioquia</h6>
            <div class="text-center justify-content-center">
              <button class="button-33 text-center" role="button"><a class="text-decoration-none text-black text-center" [routerLink]="['/museo-antioquia']">Ver</a>
              </button>
          </div>
          </div>
        </div>

        <div class="card mt-4 " style="width: 14rem;">
          <img src="./assets/imagenes/cerroelvolador.jpg" class="card-img-top " alt="...">
          <div class="card-body ">
            <h6 class="card-title text-center ">Cerro el Volador</h6>
            <div class="text-center justify-content-center">
              <button class="button-33 text-center" role="button"><a class="text-decoration-none text-black text-center" [routerLink]="['/cerro-el-volador']">Ver</a>
              </button>
          </div>
          </div>
        </div>

        <div class="card mt-4" style="width: 14rem;">
          <img src="./assets/imagenes/monserrate.JPG" class="card-img-top " alt="...">
          <div class="card-body">
            <h6 class="card-title text-center">Cerro Monserrate</h6>
            <div class="text-center justify-content-center">
              <button class="button-33 text-center" role="button"><a class="text-decoration-none text-black text-center" [routerLink]="['/cerro-monserrate']">Ver</a>
              </button>
          </div>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- FINALIZA LUGARES DESTACADOS-->

